.App {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error{
  color: red;
}
p{
  max-width: 300px;
}
form{
  display:flex;
  flex-direction: column;
  margin-top: 40px;
}
.nav{
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  background-color: lightblue;
  width: 100%;
}
.nav Link{
  margin-left: 20px;
  display: block;
}
